#navbar {
    border-radius: 0;
}

body {
    background-color: #708090;
}

#content {
    padding-top: 70px;
}

@media (max-width: 300px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

#aboutCard {
    max-width: 30rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

#summonerName {
    padding-left: 10px;
    margin-top: -1px;
    margin-bottom: -1px;
}

#summonerSubmit {
    margin-top: -1px;
}

#riotPatch {
    margin-right: 10px;
}

#backButton {
    margin-right: 10px;
    display: none;
}